<div class='sightings' ng-controller='SightingsController as vm'>
  <div ng-model='sightings'>
  <h2>All Sightings</h2>
    <button ng-click="vm.changeView()">Add New</button>
      <div ng-dblclick='vm.remove()' class='sighting' ng-repeat='sighting in vm.sightings'>
        <div class='attrib'>{{sighting.species}}</div>
        <div class='attrib'>{{sighting.sex}}</div>
        <div class='attrib'>{{sighting.animal_id}}</div>
        <div class='attrib'>{{sighting.location}}</div>
        <div class='attrib'>{{sighting.date}}</div>
      </div>
  </div>
</div>